header {
  background-color: var(--background-front);
  padding: 0.3125rem 1.5rem;

  position: sticky;
  top: 0;
}

.header__nav {
  padding: 0.25rem 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  list-style: none;
}

.header__menu-mobile i {
  font-size: 1.9rem;
}

.header__logo img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.header__menu {
  display: none;
}
